/* Google Fonts */
/* font-family: 'Pacifico', cursive; */

/* Element Selectors */
body {
    background: #010150;
    background: -webkit-linear-gradient(top, #010150, #0c94d3);
    background: -moz-linear-gradient(top, #010150, #0c94d3);
    background: linear-gradient(to bottom, #010150, #0c94d3);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    margin-top: 0;
}

h3 {
    text-align: center;
}

img {
    margin-bottom: -30px;
}

li {
    line-height: 25px;
}

/* Class Selectors */
.btn {
    background: #ff0000;
    background-image: -webkit-linear-gradient(top, #ff0000, #870000);
    background-image: -moz-linear-gradient(top, #ff0000, #870000);
    background-image: -ms-linear-gradient(top, #ff0000, #870000);
    background-image: -o-linear-gradient(top, #ff0000, #870000);
    background-image: linear-gradient(to bottom, #ff0000, #870000);
    border: none;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #ff5100;
    background-image: -webkit-linear-gradient(top, #ff5100, #ff8c00);
    background-image: -moz-linear-gradient(top, #ff5100, #ff8c00);
    background-image: -ms-linear-gradient(top, #ff5100, #ff8c00);
    background-image: -o-linear-gradient(top, #ff5100, #ff8c00);
    background-image: linear-gradient(to bottom, #ff5100, #ff8c00);
    cursor: pointer;
    text-decoration: none;
}

.lose-score {
    float: right;
    margin-right: 1rem;
}

.player-one {
    margin: 50px;
}

.player-one-score {
    background-color: #0c94d3;
    border-radius: 1rem;
    margin: 20px 50px 0 0;
    text-align: left;
    width: 256px;
}

.player-two {
    margin: 50px;
}

.player-two-score {
    background-color: #0c94d3;
    border-radius: 1rem;
    margin: 20px 0 0 50px;
    text-align: left;
    width: 256px;
}

.players {
    align-items: center;
    display: flex;
    justify-content: center;
}

.reset {
    margin-left: 20px;
    width: 121px;
}

.scoreboard {
    align-items: center;
    display: flex;
    justify-content: center;
}

.tie-score {
    float: right;
    margin-right: 1rem;
}

.win-score {
    float: right;
    margin-right: 1rem;
}